*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: black;
    color: white;
    padding:25px;
    margin: 15px;
    margin-right:25px;

    
}

ul,li,h1{
    display: inline;
   

}

ul{
    margin-left:65%;
    
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}

input{
    padding:15px;
    width:60%;
    
}

.search-bar{
    padding: 50px;
    text-align: center;
}

.box{
    padding:25px;
    margin:30px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    width: 250px;
    text-align: center;
    background-color:white;
}

.Product{
    text-align: center;
}

.box:hover{
    background-color: black;
    color:white;
    border-radius: 20px;
    
}

.About_us{
    text-align: center;
    padding: 30px;
    margin: 3px;;
}

.contact{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    color: white;
}

.ll:hover{
    color:cyan;
    background-color: black;
    font-size: larger;

   }
.ll{
    border-radius: 50px;
   

}
.la:hover{
    border-radius: 300px;
    border-color: aqua;
}
body{
    background-color: gray;
}

.la{
    border-radius: 10px;
}