*{
   margin:0%;
   padding: 0%;
}

.main{
   background-color:antiquewhite;
}


.head{
   color:lightseagreen;
   background-color: black;
   padding: 25px;
   margin: 10px;
   text-align: center ;
   margin-top: 15px;

}




h1,li,ul{
   display: inline;
   
}

ul,li{
   align-content: end;
   color:grey;
}

.box{
   padding:60px;
   margin: 50px;
   border-width: 5px;
   border-style: solid;
   display: inline-block;
   width: 250px;
   height: 450px;
   text-align: center;
   border-radius: 50px;
   margin-left: 60px;
 
}

ul{
   margin-left:65%;
}
.u1,li:hover{
   color: white;
   cursor:pointer;
}

.search-box
{
   padding: 55px;
   text-align: center;
   
}
input{
   padding: 15px;
   width: 60%;
   border-radius: 55px;
   
   
}

input:hover{
   background-color: black;
   color:white;
   cursor: pointer;

}

.box:hover{
   background-color: black;
   border-radius: 50px;
   color: white;
   box-shadow: 10px 10px 20px cyan;
   transition: 1s;

   
}

.about{
   text-align: center;
   color: black;
   padding-top:15px;
   margin-top: 15px;
   
}

.contact{
   text-align:center;
   color: darkred;
   padding-top:25px;

}

.nextpage{
   text-align: center;
   padding:15px;
   
}

